.taskbar{
    text-align: right;
    text-decoration: wavy;
    background-color: oblique;
    color: white;
    font-size: x-large;
    min-block-size: 3ch;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-spacing: 10px;
}
.header{
    background-image: url("../images/pizza4.jpg");
    padding: 50px;
}
h1{
    color: bisque;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    color:yellow;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}